API_URL="URL for the backend API"                                              # Plain
AUTH0_AUDIENCE="Audience for Auth0"                                            # Auth0
AUTH0_CLIENT_ID="Client ID for Auth0"                                          # Auth0
AUTH0_DOMAIN="Domain for Auth0"                                                # Auth0
FRONTEND_URL="URL of the frontend"                                             # Plain
MIXPANEL_TOKEN="Token for Mixpanel"                                            # Secret!
REDWOOD_ENV_GITHUB_APP="ID of the GitHub App"                                  # Plain
REDWOOD_ENV_INSIGHT_ENABLED="Flag to enable insights"                          # Plain
REDWOOD_ENV_INSTRUMENTATION_KEY="Instrumentation Key for Application Insights" # Secret!
SLACK_CLIENT_ID="Client ID for Slack"                                          # Slack
SLACK_CLIENT_SECRET="Client Secret for Slack"                                  # Slack
SLACK_REDIRECT_URL="Redirect URL for Slack. Use a tunnel with ngrok"           # Slack
