# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.tmp

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# GCP
gha-creds-*.json

# Binary build with make
/rdme
/runme

# Logs
*.log

# WebAssembly
*.wasm
wasm_exec.js
**/node_modules

# Dist directory
dist/

# Editor
.idea

.DS_Store

# VSCode debugger
__debug_bin*

cover.out

# Prevent git from interpreting internal/project/testdata/git-project as a submodule.
internal/project/testdata/git-project/**/.git
internal/project/testdata/git-project/**/.gitignore

# Ignore user-specific runme.yaml files.
experimental/runme.*.yaml
