export PGDATABASE=platform
export PGHOST=127.0.0.1
export PGPASSWORD=postgres
export PGPORT=15430
export PGUSER=postgres
export PGOPTIONS=--search_path=account,public

if [[ -f .envrc.local ]]; then
    source_env .envrc.local
fi
