AUTH0_AUDIENCE="Audience for Auth0"                                     # Auth0!
AUTH0_CLIENT_ID="Client ID for Auth0"                                   # Auth0!
AUTH0_DOMAIN="Domain for Auth0"                                         # Auth0!
AUTH0_MANAGEMENT_AUDIENCE="Audience for Auth0 Management API"           # Auth0Mgmt!
AUTH0_MANAGEMENT_CLIENT_ID="Client ID for Auth0 Management API"         # Auth0Mgmt!
AUTH0_MANAGEMENT_CLIENT_SECRET="Client Secret for Auth0 Management API" # Auth0Mgmt!
DATABASE_URL="Database URL for the backend"                             # DatabaseUrl!
OPENAI_API_KEY=API Key for OpenAI                                       # OpenAI!
OPENAI_ORG_ID=Organization ID for OpenAI                                # OpenAI!
REDIS_HOST=Redis host                                                   # Redis!
REDIS_PORT=Redis port                                                   # Redis!
TEST_DATABASE_URL=Database URL for the tests                            # DatabaseUrl
