DOCS_GCP_ARTIFACTS_REPO="Artifacts Docker repo in GCP" # Docs
DOCS_GCP_CREDENTIALS="Credentials for auth with GCP"   # Docs
DOCS_GCP_PROJECT_ID="Project ID for deploy into GCP"   # Docs
DOCS_GCP_REGION="Region for deploy into GCP"           # Docs
