ALLOWED_URL_PATTERNS="Allowed URL patterns for the frontend"                                       # Plain!
API_URL="URL for the backend API"                                                                  # Plain!
AUTH0_AUDIENCE="Audience for Auth0"                                                                # Plain!
AUTH0_CLIENT_ID="Client ID for Auth0"                                                              # Plain!
AUTH0_COOKIE_DOMAIN="Cookie domain for Auth0"                                                      # Plain
AUTH0_DEV_ID="Auth0 Dev ID used for the seed"                                                      # Plain
AUTH0_DOMAIN="Domain for Auth0"                                                                    # Plain!
AUTH0_MANAGEMENT_AUDIENCE="Audience for Auth0 Management API"                                      # Plain!
AUTH0_MANAGEMENT_CLIENT_ID="Client ID for Auth0 Management API"                                    # Plain!
AUTH0_MANAGEMENT_CLIENT_SECRET="Client Secret for Auth0 Management API"                            # Secret!
AUTH0_WEBHOOK_TOKEN="Token for Auth0 webhook used when creating users"                             # Secret!
AUTH_DEV_SKIP_EXP="Skip expiration validation for Auth0. Only dev purposes"                        # Plain
CORS_ORIGINS="CORS origins for the frontend"                                                       # Plain
CRYPTOGRAPHY_KEY="Key to encrypt/decrypt cell outputs"                                             # Secret!
CUSTOMER_IO_API_KEY="API Key for Customer.io"                                                      # Secret
CUSTOMER_IO_SITE_ID="Site ID for Customer.io"                                                      # Plain
DATABASE_URL="Database URL for the backend"                                                        # DatabaseUrl!
EXTERNAL_VECTOR_DB_COLLECTION="Collection for the external vector DB"                              # Plain
FRONTEND_URL="URL of the frontend"                                                                 # Plain!
GITHUB_APP_API_THROTTLING_CLUSTERING_ENABLED="Enable API throttling and clustering for GitHub API" # Plain
GITHUB_APP_ID="GitHub App ID. Will work even if this is not a real ID"                             # Plain!
GITHUB_APP_PRIVATE_KEY="Private key for GitHub App. Will work even if this is not a real key"      # Secret!
GITHUB_WEBHOOK_SECRET="Secret for GitHub Webhook"                                                  # Secret!
IDP_REDIRECT_URL="Redirect URL for the IDE Login"                                                  # Plain!
MIXPANEL_TOKEN="Token for Mixpanel"                                                                # Secret
NODE_ENV=NodeJS Environment                                                                        # Plain
OPENAI_API_KEY=API Key for OpenAI                                                                  # Secret!
OPENAI_ORG_ID=Organization ID for OpenAI                                                           # Secret!
PORT=Port for the backend                                                                          # Plain!
RATE_LIMIT_MAX=Max requests per time window                                                        # Plain
RATE_LIMIT_TIME_WINDOW=Time window for rate limiting                                               # Plain
REDIS_HOST=Redis host                                                                              # Redis!
REDIS_PORT=Redis port                                                                              # Redis!
REDWOOD_ENV_DEBUG_IDE=Flag to enable debug mode for the IDE                                        # Plain
REDWOOD_ENV_GITHUB_APP=ID of the GitHub App                                                        # Plain!
REDWOOD_ENV_INSIGHT_ENABLED=Flag to enable insights                                                # Plain
REDWOOD_ENV_INSTRUMENTATION_KEY=Instrumentation Key for Application Insights                       # Secret
RESEND_API_KEY=API Key for Resend                                                                  # Secret
SENTRY_DSN=DSN for Sentry                                                                          # Secret
SLACK_CLIENT_ID=Client ID for Slack                                                                # Plain!
SLACK_CLIENT_SECRET=Client Secret for Slack                                                        # Secret!
SLACK_REDIRECT_URL=Redirect URL for Slack. Use a tunnel with ngrok                                 # Plain!
TEST_DATABASE_URL=Database URL for the tests                                                       # DatabaseUrl
VECTOR_DB_COLLECTION=Collection for the vector DB                                                  # Plain!
VECTOR_DB_URL=URL for the vector DB                                                                # Secret!
WEB_PORT=Port for the web app                                                                      # Plain!
